<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="card-wrapper">

    <div class="card">

      <h1 class="center">Create an Account</h1>

      <form name="signup_form">

        <label for="username">username</label>
        <input type="text" name="username" class="field" required>

        <label for="password">Password</label>
        <input type="password" name="password" class="field" required>

        <label for="access_role">access role</label>
        <input type="text" name="access_role" class="field" required>

        <p class="error error--hidden"></p>

        <input type="submit" value="Sign Up" class="btn">

      </form>

    </div>
    </div>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>